In [1]:
import pyforest

In [2]:
from sklearn.datasets import load_iris

In [3]:
df = load_iris()

In [4]:
data  = pd.DataFrame(df.data)
data.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [5]:
data.columns = df.feature_names
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
data['target'] = df.target
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
x= data.iloc[:,:-1]
y= data.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.33,random_state = 42)

# Pre Pruning
##### Use GridSerchCV for finding best params.

In [10]:
## Go to sklearn.DecisionTreeClassifier documentation to know these params.
parameters = {                                            # params must be in key:value pairs.
    'criterion' : ['gini', 'entropy', 'log_loss'],
    'splitter': ["best", "random"],
    'max_depth': [1, 2, 3, 4, 5],
    'max_features': ["auto", "sqrt", "log2"]
}

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

## Fitting the model with GridSearchCV

In [12]:
model = DecisionTreeClassifier()

In [13]:
cv= GridSearchCV(model,param_grid= parameters,cv=5,scoring='accuracy')
# cv = cross validation ----> isi training data me se ek training data or ek validation data nikal dega.
#Or isi cheez ko 5 baar cross-validation perform karega.
# 5 baar train-validation mei se jo accuracy  uski mean accuracy ko hum kaam mei lenge.

In [14]:
cv.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
150 fits failed out of a total of 450.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
150 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.66 0.59 0.63 0.6  0.65 0.53 0.92 0.68 0.89 0.69 0.88 0.76 0.94 0.84
 0.93 0.77 0.93 0.86 0.91 0.87 0.92 0.85 0.92 0.92 0.89 0.91 0.89 0.89
 0.93 0.88 0.65 0.58 0.66 0.6  0.65 0.58 0.88 0.67 0.88 0.72 0.9  0.83
 0.86 0.82 0.89 0.83 0.96 0.84 0.93 0.88 0.88 0.78 0.92 0.87 0.87 0.92
 0.92 0.85 0.88 0.89  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_depth': [1, 2, 3, 4, 5],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='accuracy')

In [15]:
cv.best_params_

{'criterion': 'entropy',
 'max_depth': 3,
 'max_features': 'log2',
 'splitter': 'best'}

In [16]:
y_pred = cv.predict(x_test)
y_pred

array([1, 0, 2, 1, 2, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0, 1, 2, 2, 1, 2])

In [17]:
from sklearn.metrics import accuracy_score , classification_report

In [18]:
score  = accuracy_score(y_pred,y_test)
score

0.98

In [19]:
report  =  classification_report(y_pred,y_test)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       0.93      1.00      0.97        14
           2       1.00      0.94      0.97        17

    accuracy                           0.98        50
   macro avg       0.98      0.98      0.98        50
weighted avg       0.98      0.98      0.98        50